* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #6578e7;
  --secondary-color: #fb8400;
  --gray-color: #6b6b6b;
  --gray-light-color: #a2a2a2;
  --dark-gray-font-color: #050508;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100vw;
}

header {
  display: flex;
  justify-content: space-between;
}

#logo {
  font-weight: 700;
  font-size: 1.5em;
  color: white;
  margin-left: 3vw;
}

/* remove navigation menu while in mobile and not open */
.menu-list {
  display: none;
}

.menu-list {
  background-color: white;
  list-style: none;
}

.menu-list li a {
  text-decoration: none;
  color: var(--main-color);
}
.menu-list li a:hover {
  color: white;
}
.menu-list li:hover {
  background-color: var(--secondary-color);
}

.menu-list li {
  width: 100vw;
  padding: 20px;
}

.menu-list.open {
  display: block;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 6em;
}

/* burger icon ...*/

.menu-btn {
  margin-top: 4px;
  height: 3px;
  width: 27px;
  background: white;
  border-radius: 1px;
  transition: all 0.5s ease-in-out;
}

.menu-btn::before,
.menu-btn::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 1px;
  background: white;
  transition: all 0.5s ease-in-out;
}

.menu-btn::before {
  width: 16px;
  transform: translate(11px, 7px);
}
.menu-btn::after {
  width: 10px;
  transform: translate(17px, 14px);
}

/* animate burger icon */

.menu-btn.open {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open::before {
  transform: rotate(45deg) translate(35px, -35px);
  width: 27px;
  margin-top: 6px;
}
.menu-btn.open::after {
  transform: rotate(-45deg) translate(35px, 35px);
  width: 27px;
  margin-top: 6px;
}

/* ...burger icon */

header {
  margin: 0px;
  padding: 2.7rem;
}

header,
.calltoaction {
  background-color: var(--main-color);
}

/* Call to action grid */

.calltoaction {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 67vw 1fr;
  grid-template-areas:
    "call_to_action"
    "call_to_action_image"
    "buttons";
}

.calltoaction h1 {
  grid-area: call_to_action;
  width: 15ch;
  color: white;
  font-weight: 700;
  font-size: 2.2em;
  padding: 0.3em 0em 0em 1.5em;
  background-color: var(--main-color);
}

.calltoaction p {
  grid-area: call_to_action_paragraph;
  display: none;
}

.btn-section {
  grid-area: buttons;
  background-color: white;
  padding-top: 18vw;
}

.btn {
  background-color: white;
  padding: 1em;
  border-radius: 2.8em;
  border: 1px solid var(--gray-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 1.3em;
  color: var(--gray-color);
  display: block;
  margin: 0.8em;
  text-align: center;
}

.btn-primary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: white;
  top: 4em;
}

.calltoaction img {
  grid-area: call_to_action_image;
  width: 90vw;
  margin: 15vw auto;
  padding: 0;
}

.btn:hover {
  background-color: rgb(233, 233, 233);
}

.btn-primary:hover {
  background-color: #f39d3b;
}

/* feature grid */

.features {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "heading"
    "paragraph"
    "arrow"
    "food-card"
    "scooter-card"
    "review-card";
}

h2 {
  grid-area: heading;
  font-size: 2rem;
  margin: 1em;
  width: 10ch;
  line-height: 1.4em;
  color: var(--dark-gray-font-color);
}

p {
  grid-area: paragraph;
  padding: 0 2.3em;
  width: 90vw;
  color: var(--gray-light-color);
  font-weight: 500;
  line-height: 1.8em;
}

.arrow-btn {
  grid-area: arrow;
  background-color: var(--secondary-color);
  width: 90px;
  border-radius: 100px;
  padding: 1em;
  margin: 2em auto;
}

.card-feature:nth-child(1) {
  grid-area: food-card;
}

.card-feature:nth-child(2) {
  grid-area: scooter-card;
}
.card-feature:nth-child(3) {
  grid-area: review-card;
}

.card-feature {
  width: 85vw;
  margin: 2em;
  padding: 3em;
  box-shadow: rgba(46, 93, 221, 0.1) 0px 18px 50px -10px;
  border-radius: 30px;
}

.card-feature img {
  width: 100%;
  padding: 1em;
}

.card-feature h3 {
  text-align: center;
  color: var(--dark-gray-font-color);
}

/* break point for tablets */
@media only screen and (min-width: 768px) {
  .calltoaction {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 53vw;
    grid-template-areas:
      "call_to_action       call_to_action_paragraph"
      "call_to_action       buttons"
      "call_to_action_image call_to_action_image";
  }
  .btn-section {
    background-color: var(--main-color);
    padding-top: 0;
    display: flex;
  }

  .btn {
    background-color: var(--main-color);
    border: 1px solid white;
    font-size: 0.8em;
    color: white;
    padding: 1em 1.8em;
    width: auto;
    height: 3.3em;
    text-align: center;
    margin: 0 0.4em;
    z-index: 2;
  }

  .btn:hover {
    border-color: var(--secondary-color);
    background-color: var(--main-color);
    color: var(--secondary-color);
  }

  .btn-primary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
  }
  .btn-primary:hover {
    background-color: var(--main-color);
    border-color: var(--secondary-color);
    color: var(--secondary-color);
  }

  .calltoaction p {
    display: block;
    color: white;
    width: 50vw;
    padding: 4em 8em 0 1em;
    font-size: 0.9em;
  }
  .calltoaction h1 {
    padding: 1.5em 0 1.5em 2em;
  }

  .calltoaction img {
    width: 100vw;
    padding: 2em;
    margin: 10vw auto;
    position: relative;
    top: -100px;
  }

  .features {
    margin-top: 20vw;
    padding: 2em;
  }

  .features h2 {
    width: 30ch;
  }
  .features {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto auto auto;
    grid-template-areas:
      "heading      heading         heading"
      "paragraph    paragraph       paragraph"
      "arrow        arrow           arrow"
      "food-card    scooter-card    review-card";
  }
  .card-feature {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0.5em;
    padding: 1.4em;
    width: calc((100vw - 6em) / 3);
  }
}

/* break point for full screen browser */
@media only screen and (min-width: 1080px) {
  .calltoaction {
    grid-template-columns: 35vw 65vw;
    grid-template-rows: 10em 7em 12em;
    grid-template-areas:
      "call_to_action               call_to_action_image"
      "call_to_action_paragraph     call_to_action_image"
      "buttons                      call_to_action_image";
  }

  .calltoaction img {
    max-width: 38em;
    justify-items: start;
    padding: 1em;
    margin: 12em auto 0 7vw;
    padding: 0;
  }

  .btn-section {
    justify-items: center;
    padding: 0.8em 0 4em 4vw;
    margin-left: 2vw;
  }

  .calltoaction p {
    font-size: 0.7em;
    max-width: 63ch;
    padding: 4em 6em 0em 5vw;
    margin-left: 2vw;
  }

  .calltoaction h1 {
    padding: 1em 0em 0em 5vw;
    font-size: 2.5em;
    margin-left: 2vw;
  }
}
